langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
ipykernel
langchain-openai
numpy
langchain_core
streamlit
langchain-groq
pypdf
arxiv
wikipedia
transformers
validators
youtube_transcript_api
unstructured
pytube
pytubefix
langchain_huggingface
huggingface_hub